In [2]:
#dependencies
import pandas as pd
from sqlalchemy import create_engine

In [5]:
#importing dataset 1
csv_file = "data/fifa_20.csv"
players_20_df = pd.read_csv(csv_file)
players_20_df.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [6]:
#transforming dataset 1
new_players_20_df = players_20_df[['sofifa_id', 'short_name', 'overall', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic']].copy()
new_players_20_df = new_players_20_df.dropna()
new_players_20_df.head()

,sofifa_id,short_name,overall,pace,shooting,passing,dribbling,defending,physic
0,158023,L. Messi,94,87.0,92.0,92.0,96.0,39.0,66.0
1,20801,Cristiano Ronaldo,93,90.0,93.0,82.0,89.0,35.0,78.0
2,190871,Neymar Jr,92,91.0,85.0,87.0,95.0,32.0,58.0
4,183277,E. Hazard,91,91.0,83.0,86.0,94.0,35.0,66.0
5,192985,K. De Bruyne,91,76.0,86.0,92.0,86.0,61.0,78.0

In [7]:
#loading into the database
rds_connection_string = "postgres:postgres@localhost:5432/fifa_20"
engine = create_engine(f'postgresql://{rds_connection_string}')
new_players_20_df.to_sql(name='fifa_20', con=engine, if_exists='append', index=False)

In [8]:
#confirmation queries
pd.read_sql_query('select * from fifa_20', con=engine).head()

,sofifa_id,short_name,overall,pace,shooting,passing,dribbling,defending,physic
0,158023,L. Messi,94,87.0,92.0,92.0,96.0,39.0,66.0
1,20801,Cristiano Ronaldo,93,90.0,93.0,82.0,89.0,35.0,78.0
2,190871,Neymar Jr,92,91.0,85.0,87.0,95.0,32.0,58.0
3,183277,E. Hazard,91,91.0,83.0,86.0,94.0,35.0,66.0
4,192985,K. De Bruyne,91,76.0,86.0,92.0,86.0,61.0,78.0